<!-- Tela de Login -->
<div class="login-container">
    <div class="login-card" style="margin-top:50px">
        <h2>Login</h2>
        <form>
            <div class="input-group">
                <label for="username">Usuário</label>
                <input type="text" id="username" ng-model="usuario.email" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Senha</label>
                <input type="password" id="password" ng-model="usuario.password" name="password" required>
            </div>
            <div class="login-actions">
                <button type="button" class="login-btn" ng-click="logar()">Entrar</button>
            </div>
        </form>
        <!-- Botão de Cadastro -->
        <div class="register-actions">
            <a ui-sref="cadastro">
                <button class="register-btn">Cadastre-se</button>
            </a>
        </div>
    </div>
</div>
